<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.example.pilotproject"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.example.pilotproject.AuthenticationScreen_"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.example.pilotproject.KKSScreen_"
            android:label="@string/title_activity_main_activity1" >
        </activity>
        <activity
            android:name="ru.example.pilotproject.ListGroupScreen_"
            android:label="@string/title_activity_manager_ov" >
        </activity>
        <activity
            android:name="ru.example.pilotproject.EditScreen_"
            android:label="@string/title_activity_edit_ov" >
        </activity>
        <activity
            android:name="ru.example.pilotproject.GroupScreen_"
            android:label="@string/title_activity_group_screen" >
        </activity>
        <activity
            android:name="ru.example.pilotproject.MainActivity_"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.example.pilotproject.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="ru.example.pilotproject.GroupScreen"
            android:label="@string/title_activity_group_screen" >
        </activity>
    </application>

</manifest>
